In [1]:
import json

In [2]:
from pymongo import MongoClient
from dotenv import load_dotenv
import os

In [3]:
load_dotenv('../.env')
mongo_srv = os.getenv("MONGODB_SRV")

In [4]:
client = MongoClient(mongo_srv)

In [5]:
db = client.myFirstDatabase

In [6]:
collection = db['foods']
cursor = collection.find({})

menu_items = {}

for document in cursor:
        if document['restaurantId'] not in menu_items:
                menu_items[document['restaurantId']] = []
        menu_items[document['restaurantId']].append(document['_id'])

In [12]:
user_id = "617715e3ae93969fd1bfcc89"

In [14]:
from datetime import datetime, timedelta
import random

In [ ]:
i = 0
for restaurant_id in menu_items:
    food_items = menu_items[restaurant_id]
    test_object = {
        'user_id' : user_id,
        'foods': random.choices(food_items, k=4),
        'createdAt': (datetime.today() - timedelta(days = i)).replace(microsecond=0),
        'updatedAt': (datetime.today() - timedelta(days = i)).replace(microsecond=0)
    }   
    i += 1

In [26]:
test_object = {
    'user_id' : bson.objectid.ObjectId('617086906ef986fd7db4b10f'),
    'restaurant_id': bson.objectid.ObjectId('616ad5e1d252dea11b904646'),
    "description" : "Random text for Mongo",
    'stars' : 4,
    'is_anonymous' : True,
    'createdAt': datetime.today().replace(microsecond=0),
    'updatedAt': datetime.today().replace(microsecond=0)
}

In [27]:
result=db.reviews.insert_one(test_object)

In [28]:
print(result.inserted_id)

61abc78cad4a23d4fa4101c7

In [29]:
import random
import string
letters = string.ascii_lowercase

In [30]:
users = []

for i in range (100):
    test_object = {
        'full_name': "Testing Test",
        'username' : ''.join(random.choice(letters) for i in range(20)),
        'password' : ''.join(random.choice(letters) for i in range(20))
    }  
    result=db.users.insert_one(test_object) 
    users.append(result.inserted_id)

In [32]:
print(type(users[0]))

<class 'bson.objectid.ObjectId'>

In [51]:
sentence = ''
for i in range (random.randint(30, 40)):
    sentence += ''.join(random.choice(letters) for i in range(random.randint(3, 8))) + ' '
print(sentence)

mdqf hgbrnn tef egb bwy siuxu owmfvart vrq abyuwl swzq rcrcsgp bqbnrd sfxgj rhzque uexzeisp cswrd rca lxvfkbhv kimg gjhtgkdl phaztalt mcfh qujhz atp xsy tkp bds krvfgrwp dcnwmne awqeuqzp mrjjwsks gdjdmn qxfwrgug cfrwdno movwbxt eltaitn mtfv wfyt szbni

In [52]:
def get_document(user_id, restaurant_id):
    sentence = ''
    for i in range (random.randint(30, 40)):
        sentence += ''.join(random.choice(letters) for i in range(random.randint(3, 8))) + ' '
    return {
        'user_id' : user_id,
        'restaurant_id': restaurant_id,
        "description" : sentence,
        'stars' : random.randint(1, 5),
        'is_anonymous' : bool(random.getrandbits(1)),
        'createdAt': datetime.today().replace(microsecond=0),
        'updatedAt': datetime.today().replace(microsecond=0)
    }

In [53]:
collection = db['restaurants']
cursor = collection.find({})
i = 1
for document in cursor:
        print(i)
        i += 1
        for user in users:
                doc = get_document(user, document['_id'])
                result=db.reviews.insert_one(doc)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27

In [45]:
collection = db['reviews']
cursor = collection.find({})
i = 1
for document in cursor:
    if (len(document['description']) > 99 and len(document['description'] )< 201 ):
        i += 1
        #print("yes")
        myquery = { "_id": document['_id'] }
        result=db.reviews.delete_one(myquery)
    if (i % 50 == 0):
        print(i)

50
100
150
200
250
300
350
400
450
500
550
600
650
700
750
800
850
900
950
1000
1050
1100
1150
1200
1250
1300
1350
1400
1450
1500
1550
1600
1650
1700
1750
1800
1850
1900
1950
2000
2050
2100
2150
2200
2250
2300
2350
2400
2450
2500
2550
2600
2650
2700